<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <link rel="stylesheet" href="stylesheets/screen.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="stylesheets/limechoc.css" type="text/css" media="screen" />
  <script type="text/javascript" charset="utf-8" src="javascripts/codehighlighter/code_highlighter.js"></script>
  <script type="text/javascript" charset="utf-8" src="javascripts/codehighlighter/ruby.js"></script>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><%= title %></title>
</head>
<body>
  
<div id="wrapper">
  <div id="container">
  
  <div id="header">
    
    <h1><%= title %> <span class="version"><%= version %></span>
    <span class="tagline">gem install clickatell</span></h1>
    
  </div>
  
  <div id="content">
    <div class="article"><%= body %></div>
  </div>
    
  </div>
  
  <div id="footer_wrapper">
  	<div id="footer">
  	  <p class="copyright">
        <a href="http://rubyforge.org/projects/clickatell">Rubyforge Project Page</a> | 
        <a href="http://rubyforge.org/frs/?group_id=4295&amp;release_id=13922">Download latest version (<%= version %>)</a> | 
        <a href="rdoc/">RDoc</a>
      </p>
  	</div>
  </div>
</div>

</body>
</html>
